In [12]:
import psycopg2

In [17]:
# Set up a connection to the postgres server.
conn_string = "host=database-2.cjrkxejkebqc.us-east-1.rds.amazonaws.com port=5432 dbname=tornadoes_db user=postgres password=project3"
conn = psycopg2.connect(conn_string)
print("Connected!")

OperationalError: connection to server at "database-2.cjrkxejkebqc.us-east-1.rds.amazonaws.com" (34.237.204.177), port 5432 failed: FATAL:  password authentication failed for user "postgres"
connection to server at "database-2.cjrkxejkebqc.us-east-1.rds.amazonaws.com" (34.237.204.177), port 5432 failed: FATAL:  password authentication failed for user "postgres"

In [16]:
def connect():
    conn_string = f"host=host=database-2.cjrkxejkebqc.us-east-1.rds.amazonaws.com port=5432 dbname=tornadoes_db user=postgres password=projet3"
    
    conn = psycopg2.connect(conn_string)
    print("Connected!")
    
    cursor = conn.cursor()
    return conn, cursor

In [15]:
cursor = conn.cursor()
return conn, cursor

NameError: name 'conn' is not defined

In [11]:
# Execute an SQL query to get data from the table
cursor.execute("SELECT * FROM <tornadoes_table>")

NameError: name 'cursor' is not defined

In [ ]:
# Retrieve the data from the cursor object
data = cursor.fetchall()

In [ ]:
# Print the data
print(data)

In [ ]:
# Close the cursor and connection objects
cursor.close()
conn.close()